---
layout: default
---

<div class="homepost">

  <div class="homebox-blog">
    <h1 class="page-heading">Latest blog posts</h1>  
    <ul class="post-list">
      {% for post in site.posts limit:2 %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
    
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
          {{ post.excerpt }}
        </li>
      {% endfor %}
    </ul>
  </div>

    <div class="homebox">
      <img src="./img/me.jpg" alt="Ett ritat porträtt på mig själv">
      <p>Innehåll</p>
    </div>

  <div class="homebox">
      <p>Innehåll. Här ska jag ha något intressant eller kul att skriva kanske. Eller så blir det tråkigt. Det får vi se.</p>
 </div>

</div>
