---
layout: default
---

<div class="homepost">

  <div class="homebox-blog">
    <h1 class="page-heading">Latest blog post</h1>  
    <ul class="post-list">
      {% for post in site.posts limit:1 %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
    
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
          {{ post.excerpt }}
        </li>
      {% endfor %}
    </ul>
  </div>

    <div class="homebox">
      <h1 class="page-heading">Who is this person?</h1>  
      <img src="./img/me.jpg" alt="A portrait of me">
      <p>I have been working as a freelance journalist for quite some time. I specialize in science, environment and nature since I have a master degree in both biology and science journalism. So why learn webb development and programming? Well, for one thing... </p>
      <a href="./about">Read more...</a>
    </div>

  <div class="homebox">
      <h1 class="page-heading">Some links</h1>
      <ul>
        <li><img src="./img/pod.jpg" alt="Naturfotopoddens logotype">A podcast about nature photography (in swedish) <a href="https://naturfotopodden.bandcamp.com/">Naturfotopodden</a></li>
        <li><img src="./img/dopping.jpg" alt="Head of a great crested grebe">My company website (in swedish) <a href="https://marietherese.se/">marietherese.se</a></li>
        
      </ul>
 </div>

</div>
